header {
    background-color: #62C370;
    padding: 10px;
    border-bottom: 10px solid #000 ;
    border-width: 05px;
}

nav{
    height: 70px;
    text-align: right;
}
a{
display: inline-flex;
align-items: center;
color: white;
font-size: 20px;
font-family: 'Fira Code', monospace, Arial, Helvetica, sans-serif;
font-weight: 300;
text-decoration: none;
margin-right: 30px;
}

span{
    background-color: #828282;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
#button {
display: inline-block;
background-color: #828282;
padding: 20px 18px;
box-shadow: 4px 4px 0 black;
transition: transform  100ms linear;
}

#button:hover{
    transform: scale(1.1);
    background-color: #008CBA;
}
